[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pytest = "*"
httpx = "*"
uvicorn = "*"
alembic = "*"
redis = "*"
pre-commit = "*"
flake8 = "*"
python-dotenv = "*"
aioredis = "*"
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.10"
