[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
httpx = "*"
uvicorn = "*"
alembic = "*"
flake8 = "*"
pytest = "*"
redis = "*"
pre-commit = "*"
mypy = "*"

[dev-packages]

[requires]
python_version = "3.8"
